
        <!-- footer content -->

        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="scripts/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="scripts/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="scripts/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="scripts/vendors/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="scripts/vendors/raphael/raphael.min.js"></script>
    <script src="scripts/vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="scripts//vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="scripts/js/moment/moment.min.js"></script>
    <script src="scripts/js/datepicker/daterangepicker.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="scripts/build/js/custom.min.js"></script>

    <!-- morris.js -->
    <script>
      $(document).ready(function() {
        Morris.Bar({
          element: 'graph_bar',
          data: [
            {device: 'Adar Quiz 1', Average: 82},
            {device: 'Adar Quiz 2', Average: 33},
            {device: 'Adar Quiz 3', Average: 79},
            {device: 'Adar Quiz 4', Average: 100},
            {device: 'Adar Quiz 5', Average: 96},
            {device: 'Adar Quiz 6', Average: 77},
            {device: 'Adar Quiz 7', Average: 87},
            {device: 'Adar Quiz 8', Average: 55},
            {device: 'Adar Quiz 9', Average: 49}

          ],
          xkey: 'device',
          ykeys: ['Average'],
          labels: ['Average'],
          barRatio: 0.4,
          barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          xLabelAngle: 35,
          hideHover: 'auto',
          resize: true
        });

        Morris.Bar({
          element: 'graph_bar_group',
          data: [
            {"period": "Adar Quiz 1", "licensed": 80, "sorned": 70},
            {"period": "Adar Quiz 2", "licensed": 77, "sorned": 94},
            {"period": "Adar Quiz 3", "licensed": 66, "sorned": 70},
            {"period": "Adar Quiz 4", "licensed": 44, "sorned": 44},
            {"period": "Adar Quiz 5", "licensed": 77, "sorned": 77},
            {"period": "Adar Quiz 6", "licensed": 87, "sorned": 90},
            {"period": "Adar Quiz 7", "licensed": 88, "sorned": 96},
            {"period": "Adar Quiz 8", "licensed": 66, "sorned": 88},
            {"period": "Adar Quiz 9", "licensed": 32, "sorned": 55},
          ],
          xkey: 'period',
          barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          ykeys: ['licensed', 'sorned'],
          labels: ['Licensed', 'SORN'],
          hideHover: 'auto',
          xLabelAngle: 60,
          resize: true
        });

        Morris.Bar({
          element: 'graphx',
          data: [
            {x: 'Adar Quiz 1', y: 45, z: 50},
            {x: 'Adar Quiz 2', y: 30, z: 35},
            {x: 'Adar Quiz 3', y: 32, z: 25},
            {x: 'Adar Quiz 4', y: 50, z: 30},
            {x: 'Adar Quiz 5', y: 40, z: 30},
            {x: 'Adar Quiz 6', y: 41, z: 40},
            {x: 'Adar Quiz 7', y: 55, z: 60},
            {x: 'Adar Quiz 8', y: 25, z: 20},
            {x: 'Adar Quiz 9', y: 10, z: 15},

          ],
          xkey: 'x',
          ykeys: ['y', 'z'],
          barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          hideHover: 'auto',
          labels: ['Real Time', 'Expected Time'],
          resize: true
        }).on('click', function (i, row) {
            console.log(i, row);
        });

        Morris.Area({
          element: 'graph_area',
          data: [
            {period: '2014 Q1', iphone: 2666, ipad: null, itouch: 2647},
            {period: '2014 Q2', iphone: 2778, ipad: 2294, itouch: 2441},
            {period: '2014 Q3', iphone: 4912, ipad: 1969, itouch: 2501},
            {period: '2014 Q4', iphone: 3767, ipad: 3597, itouch: 5689},
            {period: '2015 Q1', iphone: 6810, ipad: 1914, itouch: 2293},
            {period: '2015 Q2', iphone: 5670, ipad: 4293, itouch: 1881},
            {period: '2015 Q3', iphone: 4820, ipad: 3795, itouch: 1588},
            {period: '2015 Q4', iphone: 15073, ipad: 5967, itouch: 5175},
            {period: '2016 Q1', iphone: 10687, ipad: 4460, itouch: 2028},
            {period: '2016 Q2', iphone: 8432, ipad: 5713, itouch: 1791}
          ],
          xkey: 'period',
          ykeys: ['iphone', 'ipad', 'itouch'],
          lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          labels: ['iPhone', 'iPad', 'iPod Touch'],
          pointSize: 2,
          hideHover: 'auto',
          resize: true
        });

        Morris.Donut({
          element: 'graph_donut',
          data: [
            {label: 'Kitchen', value: 25},
            {label: 'Bagel Friday', value: 40},
            {label: "Massages", value: 25},
            {label: 'Swag', value: 10}
          ],
          colors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          formatter: function (y) {
            return y + "%";
          },
          resize: true
        });

        Morris.Line({
          element: 'graph_line',
          xkey: 'year',
          ykeys: ['value'],
          labels: ['Value'],
          hideHover: 'auto',
          lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          data: [
            {year: '2012', value: 20},
            {year: '2013', value: 10},
            {year: '2014', value: 5},
            {year: '2015', value: 5},
            {year: '2016', value: 20}
          ],
          resize: true
        });

        $MENU_TOGGLE.on('click', function() {
          $(window).resize();
        });
      });
    </script>
    <!-- /morris.js -->
  </body>
</html>