<% if(user.username == "Admin") { %>
<% include ./top %>
<%} else {%>
<% include ./trainee %>
<%}%>

<div class="container">
  <h3>Pass or Fail - POF 666</h3>

  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#module1">
      <div class="panel-title">
        <h4>Setting up an Office 365 email and Calendar</h4>
      </div>
    </div>
    <div id="module1" class="collapse">
      <div class="panel-body" style="font-size:1.5em">
        Please click on the following link:
        <br/>
        <u><a href="http://answers.microsoft.com/en-us/msoffice/wiki/msoffice_outlook-mso_win10/set-up-your-office-365-email-and-calendar/c4bdc2c9-0764-4b41-8523-efa9c04e7e64" target="_blank">Lesson</a></u>
      </br/>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#quiz1">
      <div class="panel-title">
        <h4>Quiz <span class="label label-success hidden" id="complete">Complete</span></h4>
      </div>
    </div>
    <div id="quiz1" class="collapse">
      <div class="panel-body">
        <div style="font-size:1.5em">
          What is the maximum number of external email accounts that can be connected to Outlook Mail or Office 365 Outlook?
        </div>
        <br/>
        <div class="list-group" style="width:100px">
          <button type="button" class="list-group-item" style="text-align:center;width:100px">0</button>
          <button type="button" class="list-group-item" style="text-align:center;width:100px">1</button>
          <button type="button" class="list-group-item" style="text-align:center;width:100px" id="yes">5</button>
          <button type="button" class="list-group-item" style="text-align:center;width:100px">10</button>
          <button type="button" class="list-group-item" style="text-align:center;width:100px">None of the above</button>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-default" id="submit">Submit</button>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Great attempt!</h4>
        </div>
        <div class="modal-body" style="font-size:1.5em">
          <p>Sorry, that was not the correct answer. Please review your knowledge by watching the following video:</p>
          <u><a href="https://www.youtube.com/watch?v=8-a4qb4CxZI" target="_blank">Office 365 Setup in Mail, Calendar (Video)</a></u>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <a href="/course" class="hidden" id="done">
    <div class="btn btn-default">
      Done
    </div>
  </a>
</div>

<style>
  .title_left {
    width: 0px !important;
  }
</style>

<script>
$("document").ready(function() {
  $("#quiz1 > div.panel-body > div.list-group > button").click(function(e) {

      $("#quiz1 > div.panel-body > div.list-group > button").removeClass("active");
      $(e.target).addClass("active");
  });

  $("#submit").click(function() {
    $("#complete").removeClass("hidden");
    $("#done").removeClass("hidden");
    if ( !($("#yes").hasClass("active")) ) {
      $("#myModal").modal();
    }
  });
});
</script>

<% include ./bottom %>
