<% if(user.username == "Admin") { %>
<% include ./top %>
<%} else {%>
<% include ./trainee %>
<%}%>

<script src="js/app.js"></script>


<br>
<br>
    <div id="lol">
        <!-- The DIV for a Diagram needs an explicit size or else we won't see anything.
           In this case we also add a border to help see the edges. -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="toolbar" style="width:100%;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Load Training <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="loadContent">New Agent - General</a></li>
                            <li><a href="#">New Agent - Comcast</a></li>
                            <li><a href="#">New Agent - Windstream</a></li>
                            <li><a href="#">Handling Buttheads 101</a></li>
                        </ul>
                    </div>
                    <span style="display: inline-block; vertical-align: top; padding: 5px;">
                  <div class="palettezone">
                    <span class="draggable" draggable="true">Module</span>
                    <span class="draggable" draggable="true">Learning Material</span>
                    <span class="draggable" draggable="true">Quiz</span>
                </div>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div id="myDiagramDiv" style="border: solid 1px blue; width:100%; height:500px"></div>
        </div>
    </div>

    </div>

<% include ./bottom %>