body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.draggable {
  padding:10px 25px;
  text-align: center;
  background: pink;
  cursor: move;
  margin-top: 20px;
}
